*{
    padding: 1%;
    margin: 1%;
    text-align: justify;
}

body{
    background-image: linear-gradient(grey, white);
}

p{
    text-shadow: black -1px 1px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

div{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -3px 3px;

}

.menu{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 25px;
    background-color: aquamarine;
}

.menu li a{
    padding: auto;
    border: 1px solid black;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.menu li a:hover{
    color: purple;
}

.imagem{
    box-shadow: red -3px 3px;
    border: 2px solid red;
    border-radius: 10px;
    width: 50%;
    height: 25%;
    display: block;
    margin: 0 auto;
}

h1{
    text-shadow: -2px 2px;
    color: red;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    height: 1px;
}