*{
    padding: 1%;
    margin: 1%;
    text-align: justify;
    background-color: antiquewhite;
}

p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

div{
    border: 1px solid black;

}

.menu{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 25px;
    background-color: aquamarine;
}

.menu li a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.menu li a:hover{
    color: purple;
}

.imagem{
    border: 2px solid red;
    width: 50%;
    height: 25%;
    display: block;
    margin: 0 auto;
}

h1{
    color: red;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    border: 1px solid black;
    background-color: black;
    height: 1px;
}